<div></div>
{% schema %}
{
  "name": "Related products",
  "enabled_on": {
    "templates": [
      "product"
    ]
  },
  "presets": [
    {
      "name": "Related products"
    }
  ]
}
{% endschema %}
